*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
 }
 body{
    background-image: url(home\ image\ 1.png);    
    background-repeat: no-repeat;
    background-size: cover;
 }
 nav{
    width: 96%;
    margin: 28px;
    display: flex;
    justify-content: space-between;
    
    }
    nav ul li{
        
        display: inline-block;
        margin: 0 10px;
        
    }
    nav ul li a{
        text-decoration: none;
        color: black;
        font-size: medium;
        font-weight: bold;
        padding: 15px;
       
        border-radius: 12px;
        cursor: pointer;
        
    }
    .logo{
        width: 200px;
    }
    a:hover{
   
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
    } 
    h1{
        font-size: 30px;
    }
    
    .container
    {
        margin: 20px;
    }
    .btn{
        background-color: black;
        color: white;
       margin-left: 190px;
        border-radius: 10px;
        font-size: x-large;
        padding: 5px;
        width: 150px;
    }
    .btn:hover{
        color: white;
        background-color: rgb(28, 97, 132);
    }
    .id{  width: 217px;  padding: 7px; }
    .password{  width: 208px;  padding: 7px; }
    .name{  width: 212px;  padding: 7px; } 
    .designation{  width: 208px;  padding: 7px; }
    .doj{  width: 211px;  padding: 7px; }
    .department{  width: 212px;  padding: 7px; }
    .email{  width: 208px;  padding: 7px; }
    .phone{  width: 204px;  padding: 7px; }
    .name8{  width: 204px;  padding: 7px; }
    .designation{
        width: 228px;
        padding: 7px;
    }
    .department{
        width: 225px;
        padding: 7px;
    }
    